{
  "printWidth": 100,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 1000,
        "parser": "html"
      }
    }
  ]
}
