#onliner-react .ant-checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

#onliner-react .ant-checkbox-group-item {
  margin: 0 0 6px;
}

#onliner-react .ant-checkbox-wrapper {
  color: #333;
  font-family: 'Chinese Quote', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
